/* Project Dependencies */
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Montserrat:wght@100;300;400;500;900&family=Open+Sans:wght@700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --color-body: #b6cbce;
  --color-heading: #eef3db;
  --color-base: #033f47;
  --color-base2: #022a30;
  --color-brand: #e0f780;
  --color-brand2: #deff58;
  --sidbar-width: 240px;
  --font-base: "Bai Jamjuree";
}

body {
  background-color: var(--color-base2);
  color: var(--color-body);
  font-family: var(--font-base), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  font-weight: 700;
}

a {
  text-decoration: none;
  color: var(--color-body);
  transition: all 0.4s ease;
}

a:hover {
  color: var(--color-brand);
}

img {
  width: 100%;
}

.full-height {
  min-height: 100vh;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.text-brand {
  color: var(--color-brand);
}

.btn {
  padding: 0.9rem 1.5rem;
  font-weight: 700;
}

.btn-brand {
  background-color: var(--color-brand);
  border-color: var(--color-brand);
  color: var(--color-base);
}

.btn-brand:hover,
.btn-brand:focus {
  background-color: var(--color-brand2);
  border-color: var(--color-brand2);
  color: var(--color-base);
}

.link-custom {
  font-weight: 700;
  position: relative;
}

.link-custom::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--color-brand);
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.4s;
}

.link-custom:hover::after {
  width: 100%;
}

.bg-base {
  background-color: var(--color-base);
}

.shadow-effect {
  transition: all 0.5s;
}

.shadow-effect:hover {
  box-shadow: -6px 6px 0 var(--color-brand);
}

/* Navbar */
.navbar {
  background-color: var(--color-base);
}

.navbar .nav-link {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.navbar .nav-link:hover {
  color: var(--color-brand);
}

.navbar .nav-link.active {
  color: var(--color-brand);
}

@media (min-width: 992px) {
  .navbar {
    min-height: 100vh;
    width: var(--sidbar-width);
    background: linear-gradient(rgba(3, 63, 71, 0.9), rgba(3, 63, 71, 0.9)),
      url(../imgs/prometheus-design-cjQ_W-d-Yjs-unsplash.jpg);
    background-size: cover;
  }
  .navbar-brand img {
    border: 8px solid var(--color-brand);
    width: 85%;
  }

  /* content wrapper */
  #content-wrapper {
    padding-left: var(--sidbar-width);
  }
}

/* services */

.iconbox {
  width: 4rem;
  height: 4rem;
  background-color: var(--color-brand);
  color: var(--color-base);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* card */



.card-custom {
  overflow: hidden;
}

.card-custom-image {
  height: 250px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.card-custom .card-custom-image img {
  transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
  transform: scale(1.1);
}

.pj-img {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  width: 500px;
  /* object-fit: cover;
    object-position: center; */
}

/* contact */
#contact .form-control {
  background-color: var(--color-base);
  border-color: var(--color-base);
  color: var(--color-body);
}

#contact .form-control:focus {
  border-color: var(--color-brand);
  box-shadow: none;
}

.icon-container {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

.ico {
  width: 70px;
  padding: 0 10px;
}

/* .img-ico {
  filter: grayscale(100%);
  transition: all 0.4s ease;
}

.img-ico:hover {
  filter: grayscale(0%);
} */